 <div id="myCarousel" class="carousel slide" >
        <!-- Indicators -->
        <ol class="carousel-indicators" data-ride="carousel">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!--the first slide section-->
        <div class="carousel-inner" role="listbox" >
            <div class="item active"  style="background-image: url(img/4.jpg);background-size: cover" alt="First slide">
                <div class="container" >
                    <div class="carousel-caption">
                        <h1><b>Hard to find a perfect job?</b></h1>
                        <p><b>If you're <code>Jobseeker</code> and looking for <code>job opportunities</code> , <code>Job Market</code>
                            is a perfect place for you to find a job, this wonderful site offer a platform to let you talk directedly to the employer</b>
                        <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <!--the second slide section-->
            <div class="item"   style="background-image: url(img/10.jpg);background-size: cover"  role="listbox" alt="Last slide">
                <div class="container" >
                    <div class="carousel-caption">
                        <h1><b>Hard to find perfect candidates?</b></h1>
                        <p><b>If you're <code>Employer</code> and looking for <code>ideal candidates</code>,  <code>Job Market</code>
                            is a perfect place for you to find your employee, this wonderful site offer a platform to let all the smart employees get to know your company</b></p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Post a position</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row" style="text-align:center;width: 80%;margin:0 auto;">
            <div class="col-lg-4">
                <img class="img-circle" src="img/6.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>For Employees</h2>
                <p><b>Wanna start your job searching journey? First get your account and then update your information,then start to search jobs!</b></p>
                <p><a class="btn btn-default" href="#aa" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="img/8.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>For Employers</h2>
                <p><b>Wanna find your ideal applicants?Get your account,post a position and search for your ideal canditates!</b></p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="img/1.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Search employers</h2>
                <p><b>Wanna get to know the information of the employers? Use search engine to find the details and reviews of the employer</b></p>
                <p><a class="btn btn-default" href="#/search" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>