<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<div class="container marketing" style="background-image: url(img/register.jpg); background-size: cover;min-height: 800px;">
    <h1> Join Us today </h1>
    <div class="main-content">
        <div class="sap_tabs">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <ul>
                    <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Sign in</span></li>
                </ul>
                <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
                    <div class="facts">
                        <div class="register">
                            <form>
                                <input placeholder="Email Address" class="mail" type="text" ng-model="login.email">
                                <input placeholder="Password" class="lock" type="password" ng-model="login.password">
                                <div class="sign-up">
                                    <input type="submit"ng-click="login(login)" value="Sign in"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
