
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
            <img class="img-square" ng-src="../public/uploads/{{model.showuser.photo}}" style="margin-top:70px;" width="150" height="150"></br>
            <ul class="nav nav-sidebar">
                <li><a href=""
                       class="glyphicon glyphicon-thumbs-up"
                       ng-show="model.unliked&&currentUser.role!='employer'"
                       ng-click="model.like(model.showuser.email)"
                ></a></li>
                <li><a href="" class="glyphicon glyphicon-thumbs-down"
                       ng-show="model.liked&&currentUser.role!='employer'"
                       ng-click="model.unlike(model.showuser.email)">
                </a></li>
                <li><a href="">Name:{{model.showuser.username}}</a></li>
                <li><a href="">Email:{{model.showuser.email}}</a></li>

            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row" ng-show="true">
                <div class="col-sm-9  col-md-10 main">
                    <embed src="../public/uploads/3.pdf" width="1000px;" height="1000px;">
                </div>
            </div>
        </div>
    </div>
</div>
