
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
                <img class="img-square" ng-src="{{model.currentUser.photo}}" style="margin-top:70px;" width="150" height="150"></br>
            <ul class="nav nav-sidebar">
                <form action="/api/upload"
                      method="post"
                      enctype="multipart/form-data">
                <li><input  type="file" name="myFile" class="form-group col-md-offset-1"></li>
                <li><button class="btn btn-primary" type="submit">Upload new profile picture</button></li>
                </form>
                <li><a href="#/search">search employers</a></li>
                <li><a href="#/profile" ng-click="model.showjobs()">find a job</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul class="nav nav-tabs col-md-8">
                <li role="presentation" class="active"><a href="#/profile" ng-click="model.showupdate()">Update</a></li>
                <li role="presentation"><a href="" ng-click="model.showresume()">Resume</a></li>
            </ul>
            <div class="row" ng-show="model.profile">
                <div ng-show="message" class="alert alert-danger" role="alert">{{model.message}}</div>
                <div class="col-sm-9  col-md-10 main">
                    </br>
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="Username " class="col-sm-2 control-label">Username: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Username " placeholder="Username"
                                       ng-model="model.currentUser.username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password " class="col-sm-2 control-label">Password: </label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="Password " placeholder="Password"
                                       ng-model="model.currentUser.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Verify Password" class="col-sm-2 control-label">Verify Password: </label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="Verify Password"
                                       ng-model="model.currentUser.password" placeholder="Verify Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="col-sm-2 control-label">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="Email"
                                       ng-model="model.currentUser.email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <a  class="btn btn-primary  btn-block"
                                    ng-click="model.update(model.currentUser)">
                                    Update
                                </a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


            <div class="row" ng-show="model.resume">
                <div class="col-sm-9  col-md-10 main">
                    <embed src="../public/uploads/3.pdf" width="1000px;" height="1000px;">
                </div>
            </div>



            <div class="row" ng-show="model.joblist">
                <div class="col-sm-9  col-md-10 main">
                    </br>
                    <div class="table-responsive border col-xs-8">
                        <table class="table table-bordered table-striped ">
                            <thead>
                            <tr>
                                <th>Job Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="j in model.jobs">
                                <td><a href="#/job/{{j._id}}/{{j.owner}}"> {{j.title}} </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row col-sm-3 col-md-offset-1" ng-show="model.profile">
                <h1 style="color:black;" ><small>Follows:</small></h1>
                <div ng-repeat="u in model.currentUser.likes">
                    <h2 style="font-size: large"><a href="#/other/{{u}}" >{{u}} </a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

