 <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
<div class="container marketing" style="background-image: url(img/register.jpg); background-size: cover;">
<h1> Join Us today </h1>

<div class="main-content">
    <div class="sap_tabs">
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">

            <ul>
                <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Sign up</span></li>
            </ul>
            <!---->

            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                <div class="facts">
                    <!--login1-->
                    <div class="register">
                        <form>
                            <input placeholder="Name" type="text" ng-model="model.uregister.username">
                            <input placeholder="Email Address" type="text" ng-model="model.uregister.email">
                            <input placeholder="Password" type="password" ng-model="model.uregister.password">
                            <input placeholder="Confirm Password" type="password" ng-model="model.uregister.confirm">
                            <h3><a href="#/login"> Already Registered?</a></h3>
                            <div class="sign-up">
                                <input type="submit"ng-click="model.register(model.uregister)" value="Create Account"/>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
