
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <img class="img-square" src="img/default2.jpg" style="margin-top:70px;" width="150" height="150"></br>
            <ul class="nav nav-sidebar">
                <li><a href="">Upload new profile picture</a></li>
                <li><a href="#/search">search employers</a></li>
                <li><a href="">find a job</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul class="nav nav-tabs col-md-8">
                <li role="presentation" ><a href="#/profile">Update</a></li>
                <li role="presentation" class="active"><a href="#/resume">Resume</a></li>
            </ul>
            <embed src="../public/uploads/3.pdf" width="1000px;" height="1000px;">
        </div>
    </div>
</div>

