<div style="width:100%;background-color: #cacaca">
 <div class="container" style="padding-top:70px;">

        <div class="row" >

            <div class="col-md-3">
                <p class="lead"></p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

            <div class="col-md-9" >

                <div class="row carousel-holder">

                    <input
                            ng-model="title"
                            class="form-control">
                    </input>
                    <button
                            ng-click="search(title)"
                            class="btn btn-primary btn-block">
                        search
                    </button>

                </div>
                <div class="row">
                    <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat="info in data">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#/detail/{{info.name}}">{{info.name}}</a>
                                </h4>
                                <p>You can visit the homepage at <a target="_blank" href="http://{{info.website}}">{{info.website}}</a>.</p>
                            </div>
                            <div class="ratings">
                                <p>Ratings:{{info.overallRating}}stars</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>