<div ng-controller="FieldController">
    <div class="modal-header">
        <h3 ng-if="model.type == 'TEXT'" class="modal-title">Single Line Field</h3>
        <h3 ng-if="model.type == 'TEXTAREA'" class="modal-title">Multiples Lines Field</h3>
        <h3 ng-if="model.type == 'DATE'" class="modal-title">Date Field</h3>
        <h3 ng-if="model.type == 'OPTIONS'" class="modal-title">Dropdown Field</h3>
        <h3 ng-if="model.type == 'CHECKBOXES'" class="modal-title">Checkbox Field</h3>
        <h3 ng-if="model.type == 'RADIOS'" class="modal-title">Radio Button Field</h3>
    </div>
    <div class="modal-body">
        <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>
        <div class="form-group">
            <label class="control-label">Label</label>
            <input class="form-control" ng-model="model.field.label">
        </div>
        <div ng-if="model.type == 'TEXT' || model.type == 'TEXTAREA'"
             class="form-group">
            <label class="control-label">Placeholder</label>
            <input class="form-control" ng-model="model.field.placeholder">
        </div>
        <div ng-if="model.type == 'OPTIONS' || model.type == 'CHECKBOXES' || model.type == 'RADIOS'"
             class="form-group">
            <label class="control-label">Options</label>
            <textarea class="form-control" ng-model="model.field.options">
            </textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="model.cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="model.ok(model.field)">OK</button>
    </div>
</div>