    <h1>Forms</h1>

            <ul class="nav nav-tabs col-md-8">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation"  class="active"><a href="#/fields">Fields</a></li>
            </ul>

    <hr/>
    <select class="form-control" ng-model="model.fieldType">
        <option disabled selected value> -- Select an option -- </option>
        <option >Single Line Text Field</option>
        <option >Multi Line Text Field</option>
        <option >Date Field</option>
        <option >Dropdown Field</option>
        <option >Checkboxes Field</option>
        <option >Radio Buttons Field</option>
    </select>