    <div class="main">
     <h1>Forms</h1>
            <ul class="nav nav-tabs col-md-8">
                <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
                <li role="presentation"><a href="#/fields">Fields</a></li>
            </ul>
                <div class="table-responsive border col-xs-8">
                <table class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-triangle-bottom"></span>Form Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="form-control " placeholder="formname"  ng-model="form.title"></td>
                        <td>
                            <a class="btn btn-success pull-right">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"  ng-click="updateForm(form)"></span>
                            </a>
                            <a class="btn btn-primary pull-right" >
                                <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addForm(form)"></span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="form in forms">
                        <td><a href="#/form/{{form._id}}/fields"> {{form.title}} </a></td>
                        <td>
                            <a class="btn btn-success pull-right">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="selectForm(form)"></span>
                            </a>
                            <a class="btn btn-primary pull-right" ng-click="deleteForm(form._id)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>