    <h1>Admin</h1>
        <h2>Users</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>
                                <a ng-hide="showDscendUsername"
                                   ng-click="sortAscend('username')"
                                   class="glyphicon glyphicon-triangle-top">
                                </a>
                                <a ng-show="showDscendUsername"
                                   ng-click="sortDescend('username')"
                                   class="glyphicon glyphicon-triangle-bottom">
                                </a>
                                Username
                            </th>
                            <th>Password</th>
                            <th> <a ng-hide="showDscendFirstName "
                                    ng-click="sortAscend('firstName')"
                                    class="glyphicon glyphicon-triangle-top">
                            </a>
                                <a ng-show="showDscendFirstName "
                                   ng-click="sortDescend('firstName')"
                                   class="glyphicon glyphicon-triangle-bottom">
                                </a>
                                First Name
                            </th>
                            <th><a ng-hide="showDscendLastName "
                                   ng-click="sortAscend('lastName')"
                                   class="glyphicon glyphicon-triangle-top">
                            </a>
                                <a ng-show="showDscendLastName "
                                   ng-click="sortDescend('lastName')"
                                   class="glyphicon glyphicon-triangle-bottom">
                                </a>
                                Last Name
                            </th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input ng-model="user.username" type="text" class="form-control " placeholder="username"></td>
                            <td><input ng-model="user.password" type="password" class="form-control " placeholder="password"></td>
                            <td><input ng-model="user.firstName" type="text" class="form-control " placeholder="firstname"></td>
                            <td><input ng-model="user.lastName" type="text" class="form-control " placeholder="lastname"></td>
                            <td><input ng-model="user.roles" type="text" class="form-control " placeholder="role1,role2"></td>
                            <td>
                                <a ng-click="addUser(user)" class="btn btn-primary pull-middle">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </a>
                                <a ng-click="updateUser(user)" class="btn btn-success pull-middle">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                        <tr ng-repeat="user in users | orderBy: type">
                            <td>{{user.username}}</td>
                            <td>&nbsp;</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.roles}}</td>
                            <td>
                            <a ng-click="deleteUser(user)" class="btn btn-primary pull-middle">
                                <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                            <a ng-click="editUser(user)" class="btn btn-success pull-middle">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>