<div style="width:100%;background-image: url(img/32.jpg); background-size: cover;">
    <div class="container "  style="padding-top:70px;">
        <div class="row search-section">

            <div class="col-md-10">

                <div class="thumbnail" style="background-color: #cacaca">
                    <img class="img-responsive" ng-src="{{model.data.squareLogo}}" style="width: 40%;height: 20%;">
                    <div class="caption-full">
                        <h4 class="pull-right"></h4>
                        <h4><a href="http://{{model.data.website}}">{{model.data.name}}</a></h4>
                        <hr class="featurette-divider" id="aa" >
                        <p>CEO:{{model.data.ceo.name}}</br>
                        <img ng-src="{{model.data.ceo.image.src}}" style="width: 20%;height:20%;">
                        </p>
                        <hr class="featurette-divider">
                        <p>Reviews:</p>
                        <p>Cons:{{model.data.featuredReview.cons}}</br>
                           Pros:{{model.data.featuredReview.pros}}</br>
                           See more reviews at <a href="{{model.data.featuredReview.attributionURL}}">{{model.data.featuredReview.attributionURL}}</a>
                        </p>
                    </div>
                    <p>See more information at <a target="_blank" href="http://{{model.data.website}}">{{model.data.website}}</a>.</p>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{model.data.overallRating}} stars
                        </p>

                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <textarea class="form-control" style="resize: none" ng-model="model.review"></textarea></br>
                        <a class="btn btn-success" ng-click="model.leftreview(model.review)">Leave a Review</a>
                    </div>
                    <div class="row" ng-repeat="review in model.reviews">
                        <hr>
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                           <a href="#/other/{{review.email}}"> {{review.username}} </a>
                            <span class="pull-right">{{review.time | date:'medium'}}</span>
                            <p>{{review.review}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
