<div style="width:100%;background-image: url(img/32.jpg); background-size: cover;">
 <div class="container" style="padding-top:70px;min-height: 1000px;
    height: 100%;">

        <div class="row" >


            <div class="col-md-12" >
                <h1> Search for your ideal company! </h1>
                <div class="row carousel-holder" style="padding-top:50px;">

                    <input
                            ng-model="title"
                            class="form-control" placeholder="Please type in the company name to search">
                    </input>
                    <button
                            ng-click="search(title)"
                            class="btn btn-primary btn-block">
                        search
                    </button>

                </div>
                <div class="row"  >
                    <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat="info in data">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#/detail/{{info.name}}">{{info.name}}</a>
                                </h4>
                                <p>You can visit the homepage at <a target="_blank" href="http://{{info.website}}">{{info.website}}</a>.</p>
                            </div>
                            <div class="ratings">
                                <p>Ratings:{{info.overallRating}}stars</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>