<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderController ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2 class="navbar-brand">JobMarket</h2>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': $location.url()=='/home'}">
                    <a href="#/home">Home</a></li>
                <li ng-hide="currentuser"
                    ng-class="{'active': $location.url()=='/register'}">
                    <a href="#/register">Register</a></li>
                <li ng-hide="currentuser"
                    ng-class="{'active': $location.url()=='/login'}">
                    <a href="#/login">Login</a></li>
                <li ng-show="currentuser">
                    <a href="#/profile"> {{$root.currentuser.username}} </a></li>
                <li ng-class="{'active': $location.url()=='/search'}">
                    <a href="#/search">Search Company</a></li>
                <li ng-show="currentuser.roles.indexOf('admin') >= 0">
                    <a href="#/admin"> Admin </a></li>
                <li ng-show="currentuser">
                    <a ng-click="logout()" href="#/home"> Logout </a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>